@keyframes placesListOpening {
  from {
    top: 100%;
  }
  to {
    top: 0px;
  }
}

:root {
  /* Colors */
  --colorBlack: rgba(60, 60, 60, 1);
  --colorWhite: rgba(255, 255, 255, 1);
  --colorRed: rgba(120, 0, 0, 1);
  --colorBrown: rgba(120, 60, 0, 1);
  --colorBlue: rgba(0, 0, 120, 1);
  --colorCyan: rgba(0, 120, 120, 1);
  --colorYellow: rgba(120, 120, 0, 1);
  --colorGreen: rgba(0, 120, 0, 1);

  /* Spacings */
  --spacing1: 8px;
  --spacing2: 16px;
  --spacing3: 24px;
  --spacing4: 32px;
  --spacing5: 48px;
  --spacing6: 72px;
  --spacing7: 96px;
  --spacing8: 120px;
  --spacing9: 144px;

  /* Font sizes */
  --size1: 8px;
  --size2: 16px;
  --size3: 24px;
  --size4: 32px;
  --size5: 48px;
  --size6: 72px;
  --size7: 96px;
  --size8: 120px;
  --size9: 144px;

  /* Font sizes */
  --font1: 14px;
  --font2: 16px;
  --font3: 18px;
  --font4: 22px;

  /* Border width */
  --borderWidth1: 2px;
  --borderWidth2: 4px;
  --borderWidth3: 8px;

  /* Border radius */
  --borderRadius1: 6px;
  --borderRadius2: 12px;
  --borderRadius3: 24px;

  /* Variables */
  --contentWidth: 100vw;
  --mapOpacity: 0.2;
}

@media (min-width:961px) {
  :root {
    --contentWidth: 33vw;
    --mapOpacity: 1;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-out, margin-bottom 0s;
  padding: 0;
  margin: 0;
  color: var(--colorBlack);
  font-family: 'Roboto';
  font-size: var(--font1);
}

::-webkit-scrollbar {
  display: none;
}

.clickable {
  cursor: pointer;
}

.outlined {
  border: solid var(--borderWidth2) var(--colorBlack);
}
.outlined.selected {
  border-color: var(--colorRed);
}
.leftLine {
  border-left: solid var(--borderWidth2) var(--colorBlack);
}
.leftLine.brown {
  border-color: var(--colorBrown);
}
.leftLine.blue {
  border-color: var(--colorBlue);
}
.leftLine.cyan {
  border-color: var(--colorYellow);
}
.leftLine.yellow {
  border-color: var(--colorYellow);
}
.leftLine.green {
  border-color: var(--colorGreen);
}

.container {
  padding: var(--spacing2);
}
.inlineContainer {
  padding: 0px var(--spacing2);
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fullWidth {
  width: 100%;
}
.halfWidth {
  width: 50%;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fullHeight {
  height: 100%;
}
.halfHeight {
  height: 50%;
}

.lowOpacity {
  opacity: 0.5;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--colorWhite);
}
.loading img {
  width: 50%;
  min-width: var(--size3);
  max-width: var(--size6);
}

.option {
  opacity: 0.66;
}
.option.selected {
  opacity: 1;
}

input {
  background: none;
  border: none;
  font-size: var(--font2);
}
input:focus {
  outline: none;
}
input::placeholder {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .closingCross {
  
} */

.list {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
#mainList .element {
  height: var(--size7);
  overflow: hidden;
  margin-bottom: var(--spacing2);
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--colorWhite);
  border-top-right-radius: var(--borderRadius1);
  border-bottom-right-radius: var(--borderRadius1);
}
#mainList .element:last-child {
  margin-bottom: 96px;
}
#mainList .element:last-child.temporaryMargin {
  margin-bottom: 100vh;
}

#mainList .element .preview {
  /* The height is calculated based on closed element height */
  height: calc(var(--size7) - (2 * var(--spacing2)));
  flex-shrink: 0;
  flex-grow: 0;
}
.previewInfo {
  width: 50%;
  justify-content: center;
  align-items: flex-start;
}
.previewData {
  width: 50%;
  overflow-x: hidden;
  align-items: flex-end;
}
.previewData div {
  max-width: 100%;
}

#mainList .element .feedback {
  height: var(--size5);
  margin: var(--spacing2) 0px;
  justify-content: flex-start;
}

#mainList .element .icon {
  padding: 5px 0px;
  height: var(--size3);
}

#mainList .element .feedback div div {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  justify-content: flex-start;
}

#mainList .element .carrousel {
  height: calc(var(--contentWidth) - var(--size7) - var(--size5) - (4 * var(--spacing2)));
  border-radius: var(--borderRadius1);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
}
#mainList .element .carrousel .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(75%);
}
#mainList .element .carrousel .edit {
  height: var(--size4);
  width: var(--size4);
  border-radius: var(--borderRadius1);
  position: absolute;
  bottom: var(--spacing2);
  right: var(--spacing2);
  background-color: rgba(255, 255, 255);
  opacity: 0.5;
}
#mainList .element .carrousel .edit.open {
  height: 100%;
  width: 100%;
  bottom: 0px;
  right: 0px;
  opacity: 0.95;
}
#mainList .element .carrousel .edit .editContent {
  opacity: 0;
  transition-delay: 0s;
}
#mainList .element .carrousel .edit.open .editContent {
  opacity: 1;
  transition-delay: 0.2s;
}
#mainList .element .carrousel .edit .editContent .likeImg {
  height: var(--size6);
  position: absolute;
  top: var(--spacing5);
  left: 0px;
  opacity: 0.05;
}
#mainList .element .carrousel .edit .editContent .likeImg.hidden {
  opacity: 0;
}
#mainList .element .carrousel .edit .editContent .likeImg img {
  transition: 0s;
}
#mainList .element .carrousel .edit .editContent .likeImg.reverted img {
  transform: scaleY(-1);
}
#mainList .element .carrousel .edit .editButton {
  height: var(--size4);
  border-radius: var(--borderRadius1);
  padding: var(--spacing1);
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#mainList .element .carrousel .edit.open .editButton {
  bottom: var(--spacing2);
  right: var(--spacing2);
}

#mainList .element.open {
  height: calc(var(--contentWidth) - (2 * var(--spacing2)));
}

.title {
  max-width: 100%;
  font-weight: 900;
  font-size: var(--font3);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.subtitle {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.button {
  height: var(--size4);
  font-size: var(--font2);
  border-radius: calc(var(--size4) / 2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding: calc(var(--spacing1) / 2) calc(var(--spacing3) / 2);
}



#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#modal {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: center;
  z-index: 2000;
}
#modal div, #modal input {
  margin: var(--spacing1) 0px;
}
#modal input {
  border-bottom: solid var(--borderWidth1) var(--colorBlack);
}
#modal .vertical {
  justify-content: center;
}
#modal .horizontal {
  justify-content: space-around;
}
#loginErrorMessage {
  height: var(--size2);
  color: var(--colorRed);
  font-weight: 900;
  text-align: center;
}

#mapContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  transition-duration: 0.4s;
  opacity: var(--mapOpacity);
}
#mapContainer.hidden {
  opacity: 0;
}
#mapContainer.open {
  opacity: 1;
}
.userPosition {
  height: 50px;
  width: 50px;
  background-image: url('/public/img/position.png');
  background-size: cover;
  border-radius: 50%;
  opacity: 0.5;
}
.marker {
  height: 35px;
  width: 35px;
  background-color: var(--colorBlack);
  border-radius: 50%;
  border-bottom-right-radius: 0%;
  transform: rotate(45deg);
  cursor: pointer;
  opacity: 0.33;
}
.marker.selected {
  opacity: 1;
}
.marker.brown {
  background-color: var(--colorBrown);
}
.marker.blue {
  background-color: var(--colorBlue);
}
.marker.cyan {
  background-color: var(--colorYellow);
}
.marker.yellow {
  background-color: var(--colorYellow);
}
.marker.green {
  background-color: var(--colorGreen);
}

#header {
  height: var(--size5);
  width: var(--contentWidth);
  margin: var(--spacing2) 0px;
  padding: 0px var(--spacing2);
  position: fixed;
  top: 0px;
  justify-content: space-between;
  z-index: 1000;
}

#header .modal {
  width: var(--size5);
  border-radius: var(--size3);
  background-color: var(--colorWhite);
  opacity: 0.66;
  z-index: 1100;
}
#header .modal.open {
  width: calc(var(--contentWidth) - (4 * var(--spacing2) + var(--size4)));
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  opacity: 1;
}
#user {
  margin-left: var(--borderWidth2);
}
#userDrawer {
  overflow-x: hidden;
  margin-left: var(--spacing2);
}
#userName {
  text-align: center;
  margin-right: var(--spacing2);
  font-weight: 900;
}
#search {
  flex-direction: row-reverse;
}

#logo {
  position: absolute;
  left: 0px;
  width: 100%;
  left: var(--spacing5);
  width: calc(100% - 2 * var(--size5));
  padding: var(--spacing2);
  left: 0px;
  width: 100%;
  text-align: center;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font4);
  font-weight: 900;
  line-height: 50%;
  color: var(--colorBlack);
  opacity: 0.5;
  z-index: 800;
}
#logo.hidden {
  opacity: 0;
}

#closeListHeader {
  position: absolute;
  top: calc(var(--size1) / 2);
  left: calc((100vw / 2) - var(--size2) - var(--size1));
  display: block;
  z-index: 1000;
}
#closeListHeader.hidden {
  display: none;
}
#closeList {
  height: var(--size2);
  margin-bottom: var(--spacing2);
  background: none;
  z-index: 1100;
  justify-content: center;
  opacity: 1;
}
#closeList.hidden {
  opacity: 0;
}
#closeList img, #closeListHeader img {
  transform: rotate(90deg);
}
#closeList img.reverse {
  transform: rotate(270deg);
}

#body {
  height: calc(var(--size6) + var(--size6) + var(--spacing2));
  width: var(--contentWidth);
  overflow: hidden;
  position: absolute;
  top: calc(100% - (var(--size6) + var(--size6) + var(--spacing2)));
  left: 0px;
  z-index: 900;
}
#body.open {
  height: 100%;
  top: 0%;
}

#mainList {
  animation: placesListOpening 0.2s ease-out;
  height: 100%;
  overflow: hidden;
  width: var(--contentWidth);
  padding-top: 0px;
  position: absolute;
  left: 0px;
}
#mainList.open {
  overflow: scroll;
  padding-top: calc(var(--spacing8));
}

@media (min-width:961px) {
  #body {
    background-color: rgba(255, 255, 255, 0.5);
  }

  #modal {
    width: var(--contentWidth);
  }
  
  #closeList {
    display: none;
  }
  #closeListHeader {
    display: none;
  }
  #search.open {
    width: calc(var(--contentWidth) - (2 * var(--spacing2)));
  }
  #mapContainer {
    width: 130%;
  }
}