@keyframes placesListOpening {
  from {
    top: 100%;
  }
  to {
    top: 0px;
  }
}

:root {
  /* Colors */
  --colorBlack: rgba(60, 60, 60, 1);
  --colorWhite: rgba(255, 255, 255, 1);
  --colorRed: rgba(120, 0, 0, 1);
  --colorBrown: rgba(120, 60, 0, 1);
  --colorBlue: rgba(0, 0, 120, 1);
  --colorCyan: rgba(0, 120, 120, 1);
  --colorYellow: rgba(120, 120, 0, 1);
  --colorGreen: rgba(0, 120, 0, 1);

  /* Spacings */
  --spacing1: 12px;
  --spacing2: 24px;
  --spacing3: 48px;
  --spacing4: 72px;
  --spacing5: 96px;

  /* Font sizes */
  --size1: 12px;
  --size2: 24px;
  --size3: 48px;
  --size4: 72px;
  --size5: 96px;
  --size6: 192px;
  --size7: 288px;
  --size8: 384px;
  --size9: 768px;

  /* Font sizes */
  --font1: 14px;
  --font2: 16px;
  --font3: 18px;
  --font4: 22px;

  /* Border width */
  --borderWidth1: 2px;
  --borderWidth2: 5px;
  --borderWidth3: 20px;

  /* Border radius */
  --borderRadius1: 6px;
  --borderRadius2: 12px;
  --borderRadius3: 24px;

  /* Variables */
  --contentWidth: 100vw;
  --mapOpacity: 0.2;
}

@media (min-width:961px) {
  :root {
    --contentWidth: 33vw;
    --mapOpacity: 1;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-out, margin-bottom 0s;
  padding: 0;
  margin: 0;
  color: var(--colorBlack);
  font-family: 'Roboto';
  font-size: var(--font2);
}

::-webkit-scrollbar {
  display: none;
}

.clickable {
  cursor: pointer;
}

.outlined {
  border: solid var(--borderWidth2) var(--colorBlack);
}
.outlined.selected {
  border-color: var(--colorRed);
}
.leftLine {
  border-left: solid var(--borderWidth2) var(--colorBlack);
}
.leftLine.brown {
  border-color: var(--colorBrown);
}
.leftLine.blue {
  border-color: var(--colorBlue);
}
.leftLine.cyan {
  border-color: var(--colorYellow);
}
.leftLine.yellow {
  border-color: var(--colorYellow);
}
.leftLine.green {
  border-color: var(--colorGreen);
}

.container {
  padding: var(--spacing2);
}
.inlineContainer {
  padding: 0px var(--spacing2);
}

.icon {
  padding: 5px 0px;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fullWidth {
  width: 100%;
}
.halfWidth {
  width: 50%;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fullHeight {
  height: 100%;
}
.halfHeight {
  height: 50%;
}

.lowOpacity {
  opacity: 0.5;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--colorWhite);
}
.loading img {
  width: 50%;
  min-width: var(--size3);
  max-width: var(--size6);
}

input {
  background: none;
  border: none;
  font-size: var(--font2);
}
input:focus {
  outline: none;
}
input:placeholder-shown {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .closingCross {
  
} */

.list {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.list .element {
  height: var(--size5);
  overflow: hidden;
  margin-bottom: var(--spacing2);
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--colorWhite);
  border-top-right-radius: var(--borderRadius1);
  border-bottom-right-radius: var(--borderRadius1);

}
.list .element:last-child {
  margin-bottom: var(--spacing5);
}

.list .element .preview {
  /* The height is calculated based on closed element height */
  height: calc(var(--size5) - (2 * var(--spacing2)));
}
.previewInfo {
  width: 70%;
  justify-content: center;
  align-items: flex-start;
}
.previewData {
  width: 30%;
  overflow-x: hidden;
  align-items: flex-end;
  justify-content: flex-end;
}
.previewData div {
  font-size: var(--font1);
}

/* .list .element .details {
  
} */

.list .element .feedback {
  height: var(--size3);
  margin: var(--spacing2) 0px;
  justify-content: flex-start;
}

.list .element .feedback div {
  font-size: var(--font1);
}

.list .element .carrousel {
  height: calc(var(--contentWidth) - (var(--size3) + (8 * var(--size2))));
  border-radius: var(--borderRadius1);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
}
.list .element .carrousel .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(75%);
}

.list .element.open {
  height: calc(var(--contentWidth) - (2 * var(--spacing2)));
}

.title {
  max-width: 100%;
  font-weight: 900;
  font-size: var(--font4);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.subtitle {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}



#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mapContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  transition-duration: 0.4s;
  opacity: var(--mapOpacity);
}
#mapContainer.hidden {
  opacity: 0;
}
#mapContainer.open {
  opacity: 1;
}
.userPosition {
  height: 50px;
  width: 50px;
  background-image: url('/public/img/position.png');
  background-size: cover;
  border-radius: 50%;
  opacity: 0.5;
}
.marker {
  height: 35px;
  width: 35px;
  background-color: var(--colorBlack);
  border-radius: 50%;
  border-bottom-right-radius: 0%;
  transform: rotate(45deg);
  cursor: pointer;
  opacity: 0.33;
}
.marker.selected {
  opacity: 1;
}
.marker.brown {
  background-color: var(--colorBrown);
}
.marker.blue {
  background-color: var(--colorBlue);
}
.marker.cyan {
  background-color: var(--colorYellow);
}
.marker.yellow {
  background-color: var(--colorYellow);
}
.marker.green {
  background-color: var(--colorGreen);
}

#header {
  height: var(--size4);
  width: var(--contentWidth);
  margin: var(--spacing2) 0px;
  padding: 0px var(--spacing2);
  position: fixed;
  top: 0px;
  justify-content: space-between;
  z-index: 1000;
}

#logo {
  position: absolute;
  left: var(--spacing5);
  width: calc(100% - 2 * var(--size5));
  padding: var(--spacing2);
  text-align: center;
  font-family: monospace;
  font-size: var(--font4);
  font-weight: 900;
  color: var(--colorBlack);
  opacity: 0.5;
  z-index: 800;
}
#logo.hidden {
  opacity: 0;
}

#closeList {
  padding: var(--spacing2);
  border-radius: var(--size3);
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
#closeList img.reverse {
  transform: rotate(180deg);
}

#search {
  width: var(--size4);
  border-radius: var(--size3);
  background-color: var(--colorWhite);
  flex-direction: row-reverse;
  opacity: 0.66;
  z-index: 1100;
}
#search.open {
  width: calc(var(--contentWidth) - (2 * var(--spacing2) + var(--size4)));
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  opacity: 1;
}

#body {
  height: 100%;
  width: var(--contentWidth);
  position: absolute;
  left: -100%;
  z-index: 900;
}
#body.open {
  left: 0%;
}

#mainList {
  animation: placesListOpening 0.2s ease-out;
  height: 100%;
  width: var(--contentWidth);
  padding-top: calc(var(--spacing5) + var(--spacing2));
  position: absolute;
  top: 0px;
  left: -100%;
}
#mainList.open {
  left: 0%;
}

@media (min-width:961px) {
  #body {
    background-color: rgba(255, 255, 255, 0.5);
  }
  #header {
    flex-direction: row-reverse;
  }
  #logo {
    left: calc(var(--spacing3) + var(--borderWidth2));
    width: calc(100% - 5 * var(--size2));
    padding: var(--spacing2) 0px;
    text-align: left;
  }
  #closeList {
    display: none;
  }
  #search.open {
    width: calc(var(--contentWidth) - (2 * var(--spacing2)));
  }
  #mapContainer {
    width: 130%;
  }
}