:root {
  /* Colors */
  --colorBlack: rgba(60, 60, 60, 1);
  --colorWhite: rgba(255, 255, 255, 1);
  --colorRed: rgba(120, 0, 0, 1);
  --colorBrown: rgba(120, 60, 0, 1);
  --colorBlue: rgba(0, 0, 120, 1);
  --colorCyan: rgba(0, 120, 120, 1);
  --colorYellow: rgba(120, 120, 0, 1);
  --colorGreen: rgba(0, 120, 0, 1);

  /* Spacings */
  --spacing1: 12px;
  --spacing2: 24px;
  --spacing3: 48px;
  --spacing4: 72px;
  --spacing5: 96px;

  /* Font sizes */
  --size1: 12px;
  --size2: 24px;
  --size3: 48px;
  --size4: 72px;
  --size5: 96px;
  --size6: 192px;
  --size7: 288px;
  --size8: 384px;
  --size9: 768px;

  /* Font sizes */
  --font1: 14px;
  --font2: 16px;
  --font3: 18px;
  --font4: 22px;

  /* Border width */
  --borderWidth1: 2px;
  --borderWidth2: 5px;
  --borderWidth3: 20px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-out, margin-bottom 0s;
  padding: 0;
  margin: 0;
  color: var(--colorBlack);
  font-family: 'Roboto';
  font-size: var(--font2);
}

::-webkit-scrollbar {
  display: none;
}

.outlined {
  border: solid var(--borderWidth2) var(--colorBlack);
}
.outlined.selected {
  border-color: var(--colorRed);
}
.leftLine {
  border-left: solid var(--borderWidth2) var(--colorBlack);
}
.leftLine.brown {
  border-color: var(--colorBrown);
}
.leftLine.blue {
  border-color: var(--colorBlue);
}
.leftLine.cyan {
  border-color: var(--colorYellow);
}
.leftLine.yellow {
  border-color: var(--colorYellow);
}
.leftLine.green {
  border-color: var(--colorGreen);
}

.container {
  padding: var(--spacing2);
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fullWidth {
  width: 100%;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fullHeight {
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.list .element {
  width: 100%;
  height: var(--size5);
  margin-bottom: var(--spacing2);
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--colorWhite);
}
.list .element:last-child {
  margin-bottom: var(--spacing5);
}

.list .element .preview {
  /* The height is calculated based on closed element height */
  height: calc(var(--size5) - (2 * var(--spacing2)));
}
.previewInfo {
  width: 70%;
  justify-content: center;
  align-items: flex-start;
}
.previewData {
  width: 30%;
  overflow-x: hidden;
  align-items: flex-end;
  justify-content: flex-end;
}
.previewData div {
  height: 50%;
  font-size: var(--font1);
}

.list .element.open {
  height: var(--size8);
}

.title {
  max-width: 100%;
  font-weight: 900;
  font-size: var(--font4);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.subtitle {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}



#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mapContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  transition-duration: 0.4s;
  opacity: 0.2;
}
#mapContainer.hidden {
  opacity: 0;
}
#mapContainer.open {
  opacity: 1;
}
.userPosition {
  height: 50px;
  width: 50px;
  background-image: url('/public/img/position.png');
  background-size: cover;
  border-radius: 50%;
  opacity: 0.5;
}
.marker {
  height: 35px;
  width: 35px;
  background-color: var(--colorBlack);
  border-radius: 50%;
  border-bottom-right-radius: 0%;
  transform: rotate(45deg);
  cursor: pointer;
  opacity: 0.33;
}
.marker.selected {
  opacity: 1;
}
.marker.brown {
  background-color: var(--colorBrown);
}
.marker.blue {
  background-color: var(--colorBlue);
}
.marker.cyan {
  background-color: var(--colorYellow);
}
.marker.yellow {
  background-color: var(--colorYellow);
}
.marker.green {
  background-color: var(--colorGreen);
}

#header {
  height: var(--size4);
  width: 100%;
  margin: var(--spacing2) 0px;
  padding: 0px var(--spacing2);
  position: fixed;
  top: 0px;
  justify-content: space-between;
  z-index: 1000;
}

#closeList {
  padding: var(--spacing2);
}
#closeList img.reverse {
  transform: rotate(180deg);
}

#search {
  width: var(--size4);
  border-radius: 50%;
  background-color: var(--colorWhite);
  padding: var(--spacing2);
}

#body {
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  z-index: 900;
}
#body.open {
  left: 0%;
}

#mainList {
  height: 100%;
  width: 100%;
  padding-top: calc(var(--spacing5) + var(--spacing2));
  position: absolute;
  top: 0px;
  left: -100%;
}
#mainList.open {
  left: 0%;
}
